<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.1.0.2" targetFramework="net451" />
  <package id="Spreads.Utils" version="0.7.0" targetFramework="net451" />
  <package id="System.Numerics.Vectors" version="4.1.1" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net451" />
</packages>