<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.2.3" targetFramework="net451" />
  <package id="Spreads.Utils" version="0.9.0" targetFramework="net451" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net451" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net451" />
</packages>