<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicInterop" version="0.7.4" targetFramework="net45" />
  <package id="R.NET.Community" version="1.6.4" targetFramework="net45" />
  <package id="R.NET.Community.FSharp" version="1.6.4" targetFramework="net45" />
  <package id="RProvider" version="1.1.15" targetFramework="net45" />
</packages>