<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Deedle" version="1.2.4" targetFramework="net45" />
	<package id="FSharp.Core" version="3.1.2.5" targetFramework="net451" />
  <package id="FSharpx.Collections" version="1.9.4" targetFramework="net451" />
  <package id="FSharpx.Collections.Experimental" version="1.9.3" targetFramework="net451" />
  <package id="FsPickler" version="1.0.6" targetFramework="net451" />
  <package id="FsUnit" version="1.3.0.1" targetFramework="net451" />
  <package id="HdrHistogram" version="1.18.0" targetFramework="net451" />
  <package id="Microsoft.FSharp.Core.netcore" version="1.0.0-alpha-160727" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
  <package id="Streams" version="0.4.1" targetFramework="net451" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net451" />
</packages>