<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastMember" version="1.1.0" targetFramework="net461" />
  <package id="HdrHistogram" version="1.18.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
  <package id="NodaTime" version="2.0.0" targetFramework="net461" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Spreads.Unsafe" version="0.8.3" targetFramework="net461" />
  <package id="Spreads.Utils" version="0.8.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
</packages>